@model IceCreamParlour.Models.Recipe


<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eCommerce Product Detail</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

</head>

<body>
    <div style="padding-top: 30px" class="col-12">
        <h1 class="text-center text-uppercase">Recipes Detail</h1>
    </div>
    <div style="padding-top: 30px ; padding-bottom: 100px" class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        <img src="~/Areas/Local/RecipeImages/@Url.Content(Model.Image)" style="height:450px;width:450px;" />



                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">@Html.DisplayFor(model => model.Recipe_Name)</h3>
                        <h4>Main Flavor</h4>
                        @Html.DisplayFor(model => model.Flavor.Flavor_Name)
                        <h4>Ingredients</h4>
                        @Html.DisplayFor(model => model.Ingredients)
                        <h4>MakingProcess</h4>
                        @Html.DisplayFor(model => model.MakingProcess)

                        <div class="action">
                            <button class="add-to-cart btn btn-default" type="button">add to cart</button>
                            <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
