@model IEnumerable<IceCreamParlour.Models.Recipe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@if (Session["FullName"] != null)
{

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">


    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&amp;display=swap" rel="stylesheet">

    <link href="~/Content/Recipes/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/Recipes/css/bootstrap-icons.css" rel="stylesheet" />

    <link href="~/Content/Recipes/css/tooplate-crispy-kitchen.css" rel="stylesheet" />

</head>

<body>
    <main>


        <p>Welcome @Session["FullName"].ToString()</p>
        <section>
            <div class="container">
                <div class="row">

                    <div style="padding-top: 30px" class="col-12">
                        <h2 class="text-center text-uppercase">Special Recipes</h2>
                    </div>
                    <div style="padding-bottom: 30px">
                        <select id="RecipeIds" name="RecipeIds" class="form-select" aria-label="Default select example">
                            @foreach (var item in Model)
                            {
                            <option>    @Html.DisplayFor(modelItem => item.Flavor_Id)</option>
                            }

                            @*<option selected="selected" value="1">The Godfather</option>
                                <option value="2">Forrest Gump</option>
                                <option value="3">Fight Club</option>*@
                        </select>
                    </div>

                    @foreach (var item in Model)
                        {
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="menu-thumb">
                            <div class="menu-image-wrap">
                                @*<img src="~/Content/Recipes/images/breakfast/brett-jordan-8xt8-HIFqc8-unsplash.jpg" />*@

                                @*@Url.Content(item.Recipe_Id)*@
                                <a href="~/RecipesUserView/Details/@item.Recipe_Id">
                                    <img class="border" src="~/Areas/Local/RecipeImages/@Url.Content(item.Image)" style="height:300px;width:300px;" />
                                </a>

                            </div>

                            <div class="menu-info d-flex flex-wrap align-items-center">
                                <h5 class="mb-0">@Html.DisplayFor(modelItem => item.Recipe_Name)</h5>


                                <div class="d-flex flex-wrap align-items-center w-100 mt-2">
                                    @*@Html.DisplayFor(modelItem => item.NameTrimmed)*@



                                </div>
                            </div>
                        </div>
                    </div>


                        }

                </div>
            </div>
        </section>

    </main>
 
    <!-- Modal -->
    <!-- JAVASCRIPT FILES -->

    <script src="~/Content/Recipes/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Recipes/js/custom.js"></script>
    <script src="~/Content/Recipes/js/jquery.min.js"></script>
</body>
</html>
}


