@model IEnumerable<IceCreamParlour.Models.Recipe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@if (Session["FullName"] != null)
{

    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">


        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&amp;display=swap" rel="stylesheet">
        <link href="~/Content/Recipes/css/SelectBOx.css" rel="stylesheet" />
        @*<link href="~/Content/Recipes/css/bootstrap.min.css" rel="stylesheet" />

            <link href="~/Content/Recipes/css/bootstrap-icons.css" rel="stylesheet" />

            <link href="~/Content/Recipes/css/tooplate-crispy-kitchen.css" rel="stylesheet" />*@
        <link href="~/Content/Recipes/css/background.css" rel="stylesheet" />
        <style>
            .hover01 figure img {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }

            .hover01 figure:hover img {
                -webkit-transform: scale(1.3);
                transform: scale(1.3);
            }

            figure {
                width: 300px;
                height: 300px;
                margin: 0;
                padding: 0;
                background: #fff;
                overflow: hidden;
            }
        </style>
        <div class="view">

            <!-- Mask & flexbox options-->
            <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
                <!-- Content -->
                <div class="container px-md-3 px-sm-0">
                    <!--Grid row-->
                    <div class="row wow fadeIn">
                        <!--Grid column-->
                        <div class="col-md-12 mb-4 white-text text-center wow fadeIn">
                            <h3 class="display-3 font-weight-bold white-text mb-0 pt-md-5 pt-5">SPECIAL RECIPES</h3>
                            <hr class="hr-light my-4 w-75">
                            <h4 class="subtext-header mt-2 mb-4">It is important to take care of the patient, the outcome of the patient's outcome will be negative.</h4>
                            <p>Welcome @Session["FullName"].ToString()</p>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
        </div>
    </head>
    
    <body>
        <main class="">
            <section>
                <div class="container">
                    @using (Html.BeginForm("Index", "RecipesUserView", FormMethod.Get))
                    {
                        <p>
                            <br />
                            Search by Main Flavor:
                            @Html.TextBox("searchData", ViewBag.FilterValue as string,
                           new { @class = "form-control", @placeholder = "Enter Main Flavor...", id = "Formbeg" })
                            @*<input type="submit" id="submit_btn" class="btn btn-outline-google" value="Find" />*@
                        </p>
                    }
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="menu-thumb">
                                    <div class="menu-image-wrap">
                                        @*<img src="~/Content/Recipes/images/breakfast/brett-jordan-8xt8-HIFqc8-unsplash.jpg" />*@
                                        @*@Url.Content(item.Recipe_Id)*@
                                        <div class="hover01 column">
                                            <a href="~/RecipesUserView/Details/@item.Recipe_Id">
                                                <figure> <img class="" src="~/Areas/Local/RecipeImages/@Url.Content(item.Image)" style="height:300px;width:300px;" /></figure>
                                            </a>
                                        </div>
                                    </div>
                                    <div style="padding-bottom: 30px;" class="menu-info d-flex flex-wrap align-items-center">
                                        <h5 class="mb-0">@Html.DisplayFor(modelItem => item.Recipe_Name)</h5>

                                        <div class="d-flex flex-wrap align-items-center w-100 mt-2">
                                            @*@Html.DisplayFor(modelItem => item.NameTrimmed)*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>

        </main>

        <!-- Modal -->
        <!-- JAVASCRIPT FILES -->

        <script src="~/Content/Recipes/js/bootstrap.bundle.min.js"></script>
        <script src="~/Content/Recipes/js/custom.js"></script>
        <script src="~/Content/Recipes/js/jquery.min.js"></script>
    </body>
</html>
}
@if (Session["FullName"] == null)
{

    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">


        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&amp;display=swap" rel="stylesheet">
        <link href="~/Content/Recipes/css/SelectBOx.css" rel="stylesheet" />
        @*<link href="~/Content/Recipes/css/bootstrap.min.css" rel="stylesheet" />

            <link href="~/Content/Recipes/css/bootstrap-icons.css" rel="stylesheet" />

            <link href="~/Content/Recipes/css/tooplate-crispy-kitchen.css" rel="stylesheet" />*@
        <link href="~/Content/Recipes/css/background.css" rel="stylesheet" />
        <style>
            .hover01 figure img {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }

            .hover01 figure:hover img {
                -webkit-transform: scale(1.3);
                transform: scale(1.3);
            }

            figure {
                width: 300px;
                height: 300px;
                margin: 0;
                padding: 0;
                background: #fff;
                overflow: hidden;
            }
        </style>
        <div class="view">
            <!-- Mask & flexbox options-->
            <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
                <!-- Content -->
                <div class="container px-md-3 px-sm-0">
                    <!--Grid row-->
                    <div class="row wow fadeIn">
                        <!--Grid column-->
                        <div class="col-md-12 mb-4 white-text text-center wow fadeIn">
                            <h3 class="display-3 font-weight-bold white-text mb-0 pt-md-5 pt-5">SPECIAL RECIPES</h3>
                            <hr class="hr-light my-4 w-75">
                            <h4 class="subtext-header mt-2 mb-4">It is important to take care of the patient, the outcome of the patient's outcome will be negative.</h4>
                            <p>Welcome</p>
                            <h3>You need to login to view recipes</h3>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
        </div>
    </head>
</html>
}
