
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["FullName"] != null)
{
    <div class="col-md-12 mb-4 white-text text-center wow fadeIn">
        <h3 class="display-3 font-weight-bold white-text mb-0 pt-md-5 pt-5">Ice-Cream Parlour</h3>
        <hr class="hr-light my-4 w-75">
        <h4 class="subtext-header mt-2 mb-4">Sincerely thank you.</h4>
        <p>@Session["FullName"].ToString() have just made a successful purchase.</p>
    </div>
}
@if (Session["FullName"] == null)
{
    <div class="col-md-12 mb-4 white-text text-center wow fadeIn">
        <h3 class="display-3 font-weight-bold white-text mb-0 pt-md-5 pt-5">Ice-Cream Parlour</h3>
        <hr class="hr-light my-4 w-75">
        <h4 class="subtext-header mt-2 mb-4">Sincerely thank you.</h4>
        <p>You have just made a successful purchase.</p>
    </div>
}
