@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/bootstrap.css" rel="stylesheet" />
<!-- font awesome style -->
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="~/Content/css/style.css" rel="stylesheet" />
<!-- responsive style -->
<link href="~/Content/css/responsive.css" rel="stylesheet" />

<section class="about_section layout_padding">
    <div class="container ">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="~/Content/images/Bookstore-ic-img.png" alt="" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About Our Ice-Cream Bookstore And Recipe
                        </h2>
                    </div>
                    <p>
                        Young readers will fall in love all over again with Dennis Lee’s light-hearted verse, which embraces universal childhood experiences of every flavour, from digging holes to foreign lands to searching for the perfect pet.
                        David McPhail’s gorgeous watercolour paintings capture Lee’s subtle celebration of ulticulturalism and offer a colourful feast for the eye
                    </p>
                    <p>
                        We hitchhiked and ate lots of frozen ice cream. We would happily have a dessert for breakfast, lunch and dinner if we could.

                        The owner's family has been in the ice cream business for many years, but it's believable that we imagine our own position: a shop where we can make original ice cream with only quality ingredients. the most important.

                        We've invested years in testing and tweaking recipes as we've drawn from dessert experts from far-flung terrains, such as Reading and Nottinghamshire. Luckily, our family and companions readily fed guinea pigs with all the experimental flavors we tried.

                        We officially opened 'Ice-Cream Parlor' in October 2013 on Upper Street in Islington.

                        Required Section: Our book and recipe are both carefully crafted. Our desserts are refined, whipped, poured, whipped and solidified with love and care. Each recipe is submitted to our extremely strict quality control test. Really, we mean that we sneak a taste every time.
                    </p>
                    <p>
                        To ensure the taste of each customer of all ages, we focus on using the best fixes. It's a combination of unicorn tears, giggling clouds and vanilla... that's not much of a proof, vanilla is the proudest flavor in our recipe.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="catagory_section layout_padding">
    <div class="catagory_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    Our ice-cream flavors
                </h2>
                <p>
                    Who wants an ice cream?
                </p>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Content/images/chocolate-ic-img.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Chocolate
                            </h5>
                            <p>
                                Chocolate ice cream is a flavour of ice cream which is the second most common flavour of ice cream, after vanilla
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Content/images/vanilla-ic-img.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Vanilla
                            </h5>
                            <p>
                                Vanilla ice cream is a sweet frozen dessert made from milk, cream, sugar, and vanilla flavoring from vanilla seeds,
                                pure vanilla extract, vanilla seed paste, or a combination
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Content/images/mango-ic-img.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Mango
                            </h5>
                            <p>
                                Ice-cream flavoured with the King of Fruits! Mangoes impart a luscious creamy texture and rich flavour to this delicious frozen dessert. This ice-cream
                                is available in the market but can also be made at home easily using fresh sweet mangoes or frozen mango pulp
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Content/images/strawberry-ic-img.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Strawberry
                            </h5>
                            <p>
                                Strawberry ice cream is a flavor of ice cream made with strawberry or strawberry flavoring. It is made by blending in fresh strawberries or strawberry flavoring with the eggs,
                                cream, vanilla and sugar used to make ice cream. Most strawberry ice cream is colored pink or light red.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Content/images/banana-ic-img.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Banana
                            </h5>
                            <p>
                                It is rich in vitamin B6, vitamin C, magnesium and potassium. The soaked dates added for sweetness are also good for health as also other dry fruits added for garnishing at the end.
                                Overall, the Sugar-Free Banana Ice Cream can boost energy, boost immunity, improve digestion and protect the body
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Content/images/pineapple-ic-img.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Pineapple
                            </h5>
                            <p>
                                Homemade Pineapple Ice Cream is a delicious blend of creamy, sweet, and tart flavors. This ice cream recipe is made with simple ingredients, and traditionally churned using an ice cream maker.
                                The sweet, tangy pineapple flavor is tropical and perfect for hot summer days
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Content/images/coffee-ic.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Coffee
                            </h5>
                            <p>
                                The results should be creamy, rich and pleasantly sweet, with coffee as the first and last flavor on your palate.
                                Texture is entirely negotiable, as some of the best flavored versions are grainy due to tasty coffee grounds or espresso fudge in the mix, while others are more like ice milk
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Content/images/blackCurrant-ic.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Black Currant
                            </h5>
                            <p>
                                Grape ice cream is ice cream with a grape flavor.Some recipes use grape juice in its preparation.Dishes and variations include grape ice cream sandwiches and grape ice cream soda.
                                Grape ice cream is sometimes offered at grape festivals.For example, the Naples Grape Festival has offered grape ice cream.Grape ice cream is not a commonly made flavor in the US.
                                It is one of the more common flavors in Japan.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Content/images/cherry-ic.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Cherry
                            </h5>
                            <p>
                                Cherry ice cream is a common ice cream flavor in the United States consisting of typical ice cream ingredients and cherries. Whole or sliced or chopped cherries are used,
                                and cherry juice or cherry juice concentrate is sometimes used as an ingredient.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Content/images/butterscotch-ic.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                ButterScotch
                            </h5>
                            <p>
                                Butterscotch ice-cream isasweet and crunchy frozen dessert made using praline.It hasanutty buttery flavour.Butterscotch ice cream's main ingredients are brown sugar,butter,vanilla
                                essence,milk,corn flour,etc., while the essence of this ice-cream is the delicious crunchy praline which adds crunch and sweetness. Butterscotch ice-cream is easily available in the market under different brand names.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Content/images/walnut-ic.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Walnut
                            </h5>
                            <p>
                                If you are getting tired of plain banana 'nice' cream, then this recipe is for you! The flavors of this maple walnut ice cream are rich, creamy, maple-sweet, and nutty.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Content/images/pistachio-ic.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Pistachio
                            </h5>
                            <p>
                                Pistachio ice cream or pistachio nut ice cream is an ice cream flavor made with pistachio nuts or flavoring. It is often distinctively green in color.
                                Pistachio is also a flavor of sorbet and gelato. Pistachio ice cream is a layer in spumoni
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Content/images/chocolateAlmond-ic.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Chocolate Almond
                            </h5>
                            <p>
                                This is a rich and creamy, dark chocolate ice cream flavored with almonds and just the tiniest hint of cinnamon. The almond flavor is unexpected, but fantastic with the chocolate.
                                You likely wouldn't guess the cinnamon is there, but it adds a depth to the ice cream that can't be beaten
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Content/images/chocolateTruffle-ic.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Chocolate Truffle
                            </h5>
                            <p>
                                A creamy delight made with dark chocolate and fresh cream, the Chocolate Truffle Ice-creams will tap awake the child in every adult. Despite being a rich and lovable delight, it also has a mature dark chocolate flavour that even adults will love.
                                To make it even more enjoyable, throw in some chocolate chips too
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Content/images/chocolateChip-ic.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Chocolate Chip
                            </h5>
                            <p>
                                Chocolate Chip Ice Cream is a classic ice cream flavor that everyone loves.
                                You can make this ice cream recipe easily in your ice cream maker, using a Philadelphia style, egg-free vanilla ice cream base.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Content/images/kiwi-ic.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Kiwi
                            </h5>
                            <p>
                                Kiwifruitis a favorite flavor of Ben & Jerry's ice-cream fans. Even for kiwifruit-lovers, kiwi-flavored ice cream is certainly not common, but it should be. With only five simple ingredients, this ice cream is bound to be a favorite among children and adults alike.
                                This homemade ice-cream recipe calls for tender, ripe kiwifruit to be mashed or puréed and made into a rich and creamy ice cream. Using the whole fruit (except the brown fuzzy skin) lends this ice cream a bright green hue with a sprinkling of dark black seeds characteristic of fresh kiwifruit
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Content/images/fruitNnuts-ic.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Fruit and Nuts
                            </h5>
                            <p>
                                With an extra layer of texture added to the creamy ice cream base, Elephant House Fruit & Nut ice cream is a perfect choice whether you're completely fruity or just a little bit nutty.
                                This divine mixture of creamy dairy ice cream, sweet nuts, and candied fruits is the perfect answer to your sweet craving
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Content/images/CashewCaramelcrunch-ic.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Cashew Caramel crunch
                            </h5>
                            <p>
                                It is creamy to the max with amazing texture and it has all the cashew flavor you can dream of. And before you say, but…aren't cashews quite neutral in flavor? Well, yes.
                                But this cashew ice cream uses cashew butter made from roasted cashews and that really makes that cashew flavor pop
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Content/images/vanillaNstrawberry-ic.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Vanilla and Strawberry
                            </h5>
                            <p>
                                Neapolitan ice cream, also sometimes called Harlequin ice cream, is a type of ice cream composed of three separate flavors (vanilla, chocolate, and strawberry)
                                arranged side by side in the same container, usually without any packaging in between
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Content/images/bananaNchocolateChip-ic.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Banana Chocolate Chip
                            </h5>
                            <p>
                                Banana Chocolate Chip Ice Cream is made with only 5 ingredients; bananas, half and half, sugar, lemon juice and semi-sweet chocolate chips, which, when blended together will result in a luscious, 
                                creamy, velvety ice cream with the intense flavor of bananas
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>