@model IceCreamParlour.Models.Admin

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ice-cream Parlour Login</title>
    <!-- core:css -->
    @*<link rel="stylesheet" href="~/Areas/Local/assets/vendors/core/core.css">*@
    <link href="~/Areas/Local/assets/vendors/core/core.css" rel="stylesheet" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="~/Areas/Local/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- end plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Areas/Local/assets/fonts/feather-font/css/iconfont.css">
    <link rel="stylesheet" href="~/Areas/Local/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/Areas/Local/assets/css/demo_1/style.css">
    <link href="~/Areas/Local/assets/css/Login/style.css" rel="stylesheet" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/Areas/Local/assets/images/favicon.png" />
</head>
<body>
    <div class="login">
        <article>
            <h1>Ice-cream Parlour</h1>
            <p>Login for admin and staff</p>
        </article>
        <div class="cardBody">
            @using (Html.BeginForm("Login", "LoginAdmin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Email)*@
                    @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Password)*@
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                </div>
                <div class="submit-button">
                    <input type="submit" name="submit" class="btn btn-primary" value="Login" />
                </div>
            }
        </div>
    </div>
</body>
</html>
@Html.Raw(TempData["msg"])

