@model IceCreamParlour.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;display=swap" rel="stylesheet">
    <link href="~/Content/Login/fonts/icomoon/style.css" rel="stylesheet" />
    <link href="~/Content/Login/css/owl.carousel.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="~/Content/Login/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Style -->
    <link href="~/Content/Login/css/style.css" rel="stylesheet" />

    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <!-- font awesome style -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
</head>
<body>
<div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">             
                    <img src="~/Content/Login/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid"/>
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Sign In</h3>
                            </div>
                            @using (Html.BeginForm("Login", "RegisterUser", FormMethod.Post))
                            {@Html.AntiForgeryToken()
                        <div class="form-group first field--not-empty">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control" })

                        </div>
                        <div class="form-group first field--not-empty">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                        </div>

                        
                        <div>
                            <input type="submit" name="submit" class="btn btn-primary" value="Login" />
                        </div>
                           

                        }
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>