@model IceCreamParlour.Models.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Local/Views/Shared/_AdminView.cshtml";
}

<h2>Delete</h2>

<h3>Delete Success</h3>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
